<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.edu.universo.controlefinanceiro"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ListagemContasActivity"
            android:label="@string/title_activity_listagem_contas" >
        </activity>
        <activity
            android:name=".FormularioContaActivity"
            android:label="@string/title_activity_formulario_conta" >
        </activity>
        <activity
            android:name=".FormularioCategoriaActivity"
            android:label="@string/title_activity_formulario_categoria" >
        </activity>
        <activity
            android:name=".FormularioFormaPagamentoActivity"
            android:label="@string/title_activity_formulario_forma_pagamento" >
        </activity>
        <activity
            android:name=".ListagemCategoriasActivity"
            android:label="@string/title_activity_listagem_categorias" >
        </activity>
        <activity
            android:name=".ListagemFormasPagamentoActivity"
            android:label="@string/title_activity_listagem_formas_pagamento" >
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>